# vscode
.vscode/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Migrations
server/migrations
server/migrations/script.py.mako
server/migrations/README
server/migrations/env.py
server/migrations/alembic.ini
server/migrations/versions/c985f6c45c2a_initial_migration.py
